{% extends 'base.html' %}
{% block main_blog %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="show-results mt-4">
                    <div class="float-left"><h5 class="text-dark mb-0 pt-2">Showing Results : 1-9 of 300</h5></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="left-sidebar">
                    <div class="accordion" id="accordionExample">
                        <div class="card mt-4"><a data-toggle="collapse" href="#collapseOne" class="job-list"
                                                  aria-expanded="true" aria-controls="collapseOne">
                            <div class="card-header" id="headingOne"><h6 class="mb-0 text-dark f-18">Last Activity</h6>
                            </div>
                        </a>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                                <div class="card-body p-0">
                                    <div class="custom-control custom-radio"><input type="radio" id="customRadio1"
                                                                                    name="customRadio"
                                                                                    class="custom-control-input"> <label
                                            class="custom-control-label ml-1 text-muted f-15" for="customRadio1">Last
                                        Hour</label></div>
                                    <div class="custom-control custom-radio"><input type="radio" id="customRadio2"
                                                                                    name="customRadio"
                                                                                    class="custom-control-input"> <label
                                            class="custom-control-label ml-1 text-muted f-15" for="customRadio2">Last 24
                                        hours</label></div>
                                    <div class="custom-control custom-radio"><input type="radio" id="customRadio3"
                                                                                    name="customRadio"
                                                                                    class="custom-control-input"> <label
                                            class="custom-control-label ml-1 text-muted f-15" for="customRadio3">Last 7
                                        days</label></div>
                                    <div class="custom-control custom-radio"><input type="radio" id="customRadio4"
                                                                                    name="customRadio"
                                                                                    class="custom-control-input"> <label
                                            class="custom-control-label ml-1 text-muted f-15" for="customRadio4">Last 14
                                        days</label></div>
                                    <div class="custom-control custom-radio"><input type="radio" id="customRadio5"
                                                                                    name="customRadio"
                                                                                    class="custom-control-input"> <label
                                            class="custom-control-label ml-1 text-muted f-15" for="customRadio5">Last 30
                                        days</label></div>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-4"><a data-toggle="collapse" href="#collapsetwo" class="job-list"
                                                  aria-expanded="true" aria-controls="collapsetwo">
                            <div class="card-header" id="headingtwo"><h6 class="mb-0 text-dark f-18">Team Size</h6>
                            </div>
                        </a>
                            <div id="collapsetwo" class="collapse show" aria-labelledby="headingtwo">
                                <div class="card-body p-0">
                                    <div class="custom-control custom-checkbox"><input type="checkbox"
                                                                                       class="custom-control-input"
                                                                                       id="customCheck7"> <label
                                            class="custom-control-label ml-1 text-muted f-15" for="customCheck7">1 To
                                        50</label></div>
                                    <div class="custom-control custom-checkbox"><input type="checkbox"
                                                                                       class="custom-control-input"
                                                                                       id="customCheck8"> <label
                                            class="custom-control-label ml-1 text-muted f-15" for="customCheck8">51 To
                                        100</label></div>
                                    <div class="custom-control custom-checkbox"><input type="checkbox"
                                                                                       class="custom-control-input"
                                                                                       id="customCheck3"> <label
                                            class="custom-control-label ml-1 text-muted f-15" for="customCheck3">101 To
                                        150</label></div>
                                    <div class="custom-control custom-checkbox"><input type="checkbox"
                                                                                       class="custom-control-input"
                                                                                       id="customCheck4"> <label
                                            class="custom-control-label ml-1 text-muted f-15" for="customCheck4">151 To
                                        200</label></div>
                                    <div class="custom-control custom-checkbox"><input type="checkbox"
                                                                                       class="custom-control-input"
                                                                                       id="customCheck5"> <label
                                            class="custom-control-label ml-1 text-muted f-15" for="customCheck5">201 To
                                        250</label></div>
                                    <div class="custom-control custom-checkbox"><input type="checkbox"
                                                                                       class="custom-control-input"
                                                                                       id="customCheck6"> <label
                                            class="custom-control-label ml-1 text-muted f-15" for="customCheck6">251 To
                                        300</label></div>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-4"><a data-toggle="collapse" href="#collapsethree" class="job-list"
                                                  aria-expanded="true" aria-controls="collapsethree">
                            <div class="card-header" id="headingthree"><h6 class="mb-0 text-dark f-18">Categories</h6>
                            </div>
                        </a>
                            <div id="collapsethree" class="collapse show" aria-labelledby="headingthree">
                                <div class="card-body p-0">
                                    <div class="custom-control custom-radio"><input type="radio" id="customRadio7"
                                                                                    name="customRadio1"
                                                                                    class="custom-control-input"> <label
                                            class="custom-control-label ml-1 text-muted f-15" for="customRadio7">Web
                                        Designer</label></div>
                                    <div class="custom-control custom-radio"><input type="radio" id="customRadio8"
                                                                                    name="customRadio1"
                                                                                    class="custom-control-input"> <label
                                            class="custom-control-label ml-1 text-muted f-15" for="customRadio8">Graphic
                                        Designer</label></div>
                                    <div class="custom-control custom-radio"><input type="radio" id="customRadio9"
                                                                                    name="customRadio1"
                                                                                    class="custom-control-input"> <label
                                            class="custom-control-label ml-1 text-muted f-15" for="customRadio9">PHP
                                        Developer</label></div>
                                    <div class="custom-control custom-radio"><input type="radio" id="customRadio10"
                                                                                    name="customRadio1"
                                                                                    class="custom-control-input"> <label
                                            class="custom-control-label ml-1 text-muted f-15" for="customRadio10">UI/UX
                                        Designer</label></div>
                                    <div class="custom-control custom-radio"><input type="radio" id="customRadio11"
                                                                                    name="customRadio1"
                                                                                    class="custom-control-input"> <label
                                            class="custom-control-label ml-1 text-muted f-15" for="customRadio11">Banking</label>
                                    </div>
                                    <div class="custom-control custom-radio"><input type="radio" id="customRadio12"
                                                                                    name="customRadio1"
                                                                                    class="custom-control-input"> <label
                                            class="custom-control-label ml-1 text-muted f-15" for="customRadio12">Accountancy</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-4"><a data-toggle="collapse" href="#collapsefour" class="job-list"
                                                  aria-expanded="true" aria-controls="collapsefour">
                            <div class="card-header" id="headingfour"><h6 class="mb-0 text-dark f-18">Gender</h6></div>
                        </a>
                            <div id="collapsefour" class="collapse show" aria-labelledby="headingfour">
                                <div class="card-body p-0">
                                    <div class="custom-control custom-radio"><input type="radio" id="customRadio13"
                                                                                    name="customRadio3"
                                                                                    class="custom-control-input"> <label
                                            class="custom-control-label ml-1 text-muted f-15"
                                            for="customRadio13">Male</label></div>
                                    <div class="custom-control custom-radio"><input type="radio" id="customRadio14"
                                                                                    name="customRadio3"
                                                                                    class="custom-control-input"> <label
                                            class="custom-control-label ml-1 text-muted f-15"
                                            for="customRadio14">Female</label></div>
                                    <div class="custom-control custom-radio"><input type="radio" id="customRadio15"
                                                                                    name="customRadio3"
                                                                                    class="custom-control-input"> <label
                                            class="custom-control-label ml-1 text-muted f-15"
                                            for="customRadio15">Others</label></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    {% for user in users %}
                        <div class="col-lg-4 col-md-6">
                            <div class="list-grid-item mt-4">
                                <div class="grid-item-content p-2">
                                    <div class="employers-list-img mt-3">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt
                                            class="img-fluid mx-auto d-block rounded-circle">
                                    </div>
                                    <div class="grid-list-desc text-center mt-4"><h5 class="mb-1">
                                        <a href="#" class="text-dark">{{ user.first_name }} {{ user.last_name }}</a>
                                    </h5>
                                        <p class="text-muted f-14 mb-0">{{ user.bio }}</p>
                                        <ul class="employers-icons list-inline mb-1">
                                            <li class="list-inline-item"><a href="#" class="text-warning"><i
                                                    class="mdi mdi-star f-19"></i></a></li>
                                            <li class="list-inline-item"><a href="#" class="text-warning"><i
                                                    class="mdi mdi-star f-19"></i></a></li>
                                            <li class="list-inline-item"><a href="#" class="text-warning"><i
                                                    class="mdi mdi-star f-19"></i></a></li>
                                            <li class="list-inline-item"><a href="#" class="text-warning"><i
                                                    class="mdi mdi-star f-19"></i></a></li>
                                            <li class="list-inline-item"><a href="#" class="text-warning"><i
                                                    class="mdi mdi-star f-19"></i></a></li>
                                        </ul>
                                        <span class="badge badge-warning text-white">5.0</span></div>
                                </div>
                                <hr class="mt-0 mb-0">
                                <div style="display: flex; justify-content: space-evenly; padding: 10px 0 10px 0">
                                    <form action="{% url 'update_user' user.pk %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success">Update</button>
                                    </form>
                                    <form action="{% url 'delete_user' user.pk %}" method="post">
                                        {% csrf_token %}
                                        <button class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination job-pagination justify-content-center mt-5 mb-5">
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                            <i class="mdi mdi-chevron-double-left f-15"></i> </a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#"> <i
                                class="mdi mdi-chevron-double-right f-15"></i> </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}